/* Global Styles */
body {
  overflow: auto;
}

/* Body Container */
.body-container {
  width: 100%;
  height: 100%; /* Ensure it takes the full viewport height */
}

/* About Page Container */
.about-page-container {
  font-family: 'Roboto', sans-serif;
  height: 100%;
  padding-top: 100px;
  width: 50%;
  margin: 0 auto;
  text-align: left; /* Default text alignment is left on desktop */
}

.body-container.light {
  background-color: var(--light-bg);
  color: var(--light-text);
}

.body-container.dark {
  background-color: var(--dark-bg);
  color: var(--dark-text);
}

/* About Section Banner */
.about-section-banner {
  border-radius: 10px;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: left; /* Left-align text for desktop */
}

/* Section Names */
.about-section-name {
  font-size: 2.5rem;
  color: var(--dark-bg-blue);
  text-transform: uppercase;
  font-weight: bold;
  text-align: left; /* Left-align section names */
}

.about-section-name.highlight {
  color: var(--light-blue-bg);
}

.about-section-title {
  font-size: 1.5rem;
  font-weight: 600;
  text-align: left; /* Left-align section titles */
}

.about-section-description {
  font-weight: 200;
  font-size: 1rem;
  line-height: 1.8;
  max-width: 1000px;
  margin: 0 auto;
  padding-left: 40px;
  text-align: left; /* Left-align description text */
}

.highlight {
  color: var(--light-blue-bg);
  font-weight: bold;
}

/* Skills Section */
.skills-section {
  text-align: left; /* Left-align text for desktop */
  margin-top: 60px;
}

.skills-section-title {
  font-size: 2rem;
  color: var(--dark-bg-blue);
  font-weight: 600;
  text-align: left; /* Left-align skills section title */
}

.skills-grid {
  display: grid;
  grid-template-columns: repeat(6, 1fr);
  gap: 20px;
  max-width: 1200px;
  margin: 0 auto;
  justify-content: left; /* Align skill grid items to the left */
}

.skill-card {
  position: relative;
  padding: 20px;
  border-radius: 20px;
  text-align: center;
  overflow: hidden;
  transition: transform 0.3s ease, box-shadow 0.3s ease;
}

.skill-logo {
  width: 64px;
  height: 64px;
  margin-bottom: 10px;
  object-fit: contain;
  transition: transform 0.3s ease;
}

.skill-name {
  font-size: 1.1rem;
  font-weight: 500;
  margin-bottom: 10px;
  transition: opacity 0.3s ease, transform 0.3s ease;
}

.skill-card:hover .skill-logo,
.skill-card:hover .skill-name {
  transform: translateY(-10px); /* Move icon up on hover */
  transform: scale(1.1);
}

.skill-card:hover {
  box-shadow: 0px 6px 15px rgba(0, 0, 0, 0.5);
}

/* Experience Section */
.experience-section {
  margin-top: 60px;
  text-align: left; /* Left-align text for experience section */
}

.experience-section-title {
  font-size: 2rem;
  color: var(--dark-bg-blue);
  font-weight: 600;
  text-align: left; /* Left-align experience section title */
}

.experience-grid {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 30px;
  max-width: 1200px;
  margin: 0 auto;
  width: 100%;
  justify-content: left; /* Align experience grid items to the left */
}

.experience-card {
  position: relative;
  padding: 20px;
  border-radius: 10px;
  box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.2);
  text-align: center;
  transition: transform 0.3s ease, box-shadow 0.3s ease;
  width: 100%;
}

.experience-card:hover {
  transform: translateY(-5px);
  box-shadow: 0px 6px 15px rgba(0, 0, 0, 0.5);
}

.experience-pin {
  font-size: 2.5rem;
  position: absolute;
  top: -15px;
  left: 50%;
  transform: translateX(-50%);
}

.company-name {
  font-size: 1.5rem;
  font-weight: bold;
  margin-top: 20px;
}

.role {
  font-size: 1.2rem;
  font-weight: 500;
  margin-top: 10px;
}

.duration {
  font-size: 1rem;
  margin-top: 5px;
}

.description {
  font-size: 1rem;
  line-height: 1.6;
  margin-top: 15px;
  padding-left: 10px;
  padding-right: 10px;
}

/* Contact Section */
.contact-section {
  margin-top: 60px;
  text-align: center; /* Left-align text for contact section */
  padding-bottom: 60px;
}

.contact-title {
  font-size: 2.5rem;
  font-weight: bold;
}

.contact-description {
  font-size: 1.2rem;
  margin-top: 20px;
}

.contact-details h3 {
  font-size: 1.2rem;
  padding-bottom: 30px;
}

.contact-details a {
  text-decoration: none;
}

/* Reset padding and margin for About Section Name and Title */
.about-section-name,
.about-section-title {
  margin: 0;
  padding: 0;
  text-align: left; /* Ensure left alignment for about section name and title */
}

.experience-section-title,
.skills-section-title {
  text-align: left;
  margin: 0;
  padding: 0;
  padding-bottom: 15px;
}

/* Dark and Light Mode */
.body-container.dark .experience-card {
  background: var(--btn-dark);
  color: var(--dark-text);
}

.body-container.dark .skill-card,
.body-container.dark .social-media-item,
.body-container.dark .experience-card {
  background: var(--btn-dark);
  color: var(--dark-text);
}

.body-container.light .skill-card,
.body-container.light .social-media-item,
.body-container.light .experience-card {
  background: var(--btn-light);
  color: var(--light-text);
}

.body-container.dark .social-media-item:hover{
  background: var(--btn-hover-dark);
}

.body-container.light .social-media-item:hover{
  background: var(--btn-hover-light);
}

/* Media Queries */

/* For Larger Screens (Desktop) */
@media (max-width: 1600px) {
  .about-page-container {
    width: 65%;
  }

  .skills-grid {
    grid-template-columns: repeat(6, 1fr);
    gap: 20px;
    max-width: 100%;
    margin: 0 auto;
    justify-content: left; /* Align grid items to the left */
  }

  .skill-card {
    width: 100%;
    padding: 15px;
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
    height: auto;
  }

  .experience-grid {
    grid-template-columns: repeat(2, 1fr);
  }
}

/* For Tablets */
@media (max-width: 1000px) {
  .about-page-container {
    width: 85%;
    text-align: center; /* Center text on tablet */
  }

  .about-section-banner {
    flex-direction: column;
    height: auto;
    padding: 20px;
    text-align: center; /* Center text for the tablet */
  }

  .about-section-name {
    font-size: 2rem;
    text-align: center; /* Center section name */
  }

  .about-section-title {
    font-size: 1.2rem;
    text-align: center; /* Center section title */
  }

  .skills-grid {
    grid-template-columns: repeat(2, 1fr);
    gap: 20px;
    max-width: 90%;
    margin: 0 auto;
    justify-content: center; /* Center grid items */
  }

  .skill-card {
    width: 95%;
    margin: 0 auto;
    text-align: center; /* Center skill cards */
  }

  .experience-grid {
    grid-template-columns: 1fr;
  }

  .experience-card {
    padding: 15px;
  }
}



/* For Mobile */
@media (max-width: 999px) {
  .about-page-container {
    width: 85%;
    text-align: center; /* Center text on mobile */
  }
  .skills-section-title, .experience-section-title{
    text-align: center;
  }

  .about-section-banner, .about-section-description{
    padding: 0px;
    text-align: center;
  }
  .about-section-title{
    padding-bottom: 30px;
  }

  .about-section-name {
    font-size: 1.8rem;
    text-align: center; /* Center section name */
  }

  .about-section-title {
    font-size: 1.1rem;
    text-align: center; /* Center section title */
  }

  .contact-details h3 {
    font-size: 1rem;
  }

  .contact-details a {
    font-size: 1rem;
  }

  .skills-grid {
    grid-template-columns: repeat(2, 1fr);
    justify-content: center; /* Center grid items */
  }

  .skill-icon {
    font-size: 1.8rem;
  }

  .skill-name {
    font-size: 0.9rem;
  }

}
