body{
    height: 100%;
    width: 100%;
    margin: 0; /* Remove default margin */
    padding: 0; /* Remove default padding */
    box-sizing: border-box; /* Ensure consistent box model */
}

:root {
    /* Background colours */
    --light-bg: #ffffff;
    --dark-bg: #0f0f0f;
    --dark-bg-blue: linear-gradient(145deg, #00a2ff, #00e1ff);
    --blue-bg: #1687ff;
    --light-blue-bg: #e16614;
    /* Button colours  */
    --btn-light: linear-gradient(145deg, #ffffff, #d6d6d6);
    --btn-dark: linear-gradient(145deg, #3a3a3a, #5d5d5d);
    --btn-hover-light: linear-gradient(145deg, #00a2ff, #00e1ff);
    --btn-hover-dark: linear-gradient(145deg, #1687ff, #0a5dc0);
    /* Text Colours */
    --light-text: #333333;
    --dark-text: #ffffff;
  }
